body{
  line-height: 1.5;
  text-align: center;
  background-image: url("https://i.ibb.co/y8tDhRJ/1.jpg");
  background-size: cover;
  background-position: left;
  color: white;
}

main{
  font-family: Lobster,sans-serif;
}

img{
  max-width: 100%;
  width: 950px;
  display: block;
  height: auto;
  margin: auto;
  border-radius: 5px;
}

ul{
  /* max-width: 550px; */
  text-align: left;
  line-height: 1.6;
}

h1 {
    font-size: 2.5em;
  
}

li{
  margin: 16px 0;
}

p {
    font-size: 1.5em;
}

.timeLine{
  font-family: Lobster, sans-serif;
}

.container-fluid {
    font-size: 1.3em;
    font-family: sans-serif, 'Roboto Condensed';
}

h3 {
  font-size: 1.5em;
  padding-top: 2em;
}

a {
    text-decoration: none;
    /* color: rgb(74, 123, 196); */
    color: #bb855f;
    transition-duration: 300ms;
}

a:hover {
    color: #f8c19a;
    /* color: rgb(120, 171, 248); */
}

.quote {
    padding-top: 15px;
    font-size: 1.8em;
    color: #bb855f;
    font-family: Lobster, sans-serif;
}

footer h3{
    padding: 20px 0;
    font-family: Lobster,sans-serif;
}

.cite {
  font-size: 1.1em;
  font-style: italic;
  font-family: Lobster,sans-serif;

}

@media(max-width: 800px) {
.quote {
  font-size: 1.3em;
}
}